@import url(layout/normalize.css);
@import url(layout/base.css);

@import url(blocks/hero.css);
@import url(blocks/header.css);
@import url(blocks/offers.css);
@import url(blocks/news.css);
@import url(blocks/paginator.css);
@import url(blocks/about.css);
@import url(blocks/footer.css);
@import url(blocks/services.css);
@import url(blocks/reviews.css);

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"),
    url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-semibold.woff2") format("woff2"),
    url("../fonts/opensans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold.woff2") format("woff2"),
    url("../fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
