.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 82px;
}

.nav__list {
  display: flex;
}

.nav__list > * + * {
  margin-left: 57px;
}

.nav__link {
  font-size: 14px;
  line-height: 1.42;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #da0100;
}

.nav__item--active .nav__link {
  color: #da0100;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1.1;
  transition: all 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.contacts__phone:hover {
  color: #da0100;
}

.dropdown__workhours {
  display: block;
  font-size: 13px;
  line-height: 1.1;
  text-decoration-line: underline;
  transition: all 0.3s;
}

.dropdown__wrapper {
  position: absolute;
  top: 100%;
  right: -9999px;
  padding: 7px 11px;
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdown__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 156px;
  height: 68px;
  background-color: #cdd1d2;
  border-radius: 5px;
  transition: all 0.3s;
}

.dropdown__rectangle::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #cdd1d2;
  transform: rotate(45deg);
  position: absolute;
  top: 5%;
  right: 32%;
}

.dropdown__time {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.62;
  color: #1e1f20;
}

.dropdown__time--bold {
  font-weight: bold;
}

.dropdown:hover .dropdown__wrapper {
  opacity: 1;
  right: -10px;
  cursor: pointer;
}

.dropdown:hover .dropdown__workhours {
  color: #da0100;
}
