.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__display {
  margin: 0 30px;
}

.paginator__list {
  display: flex;
  justify-content: space-between;
}

.paginator__item {
  text-align: center;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  font-weight: bold;
  transition: all 0.3s;
}

.paginator__item--active .paginator__link {
  background-color: #fff;
  color: #f5170e;
}

.paginator__link:hover {
  background-color: #fff;
  color: #f5170e;
}

.paginator--color-black {
  color: #000;
}

.paginator--color-black .paginator__link:hover {
  background-color: #f5170e;
  color: #fff;
}

.paginator--color-black .paginator__item--active .paginator__link {
  background-color: #f5170e;
  color: #fff;
}
