.welcome {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/welcome-page/bg.png") center center / cover
    no-repeat;
}

.welcome__container {
  margin-top: 157px;
}

.welcome__logo {
  z-index: 99;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.welcome__content::before {
  content: url("../../img/welcome-page/shades.png");
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome__text {
  margin-bottom: 57px;
  font-size: 18px;
  color: #fff;
  z-index: 99;
}

.welcome__button {
  padding: 18px 58px;
  z-index: 99;
}

.welcome__content--animation {
  opacity: 0;
  animation: entry 1.3s ease-in-out forwards;
}

@keyframes entry {
  from {
    transform: scale(0.7);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
